#qna{
    display: none;
}

img{
    max-width: 80%;
    max-height: 80%;
    
}

.qBox{
    background-color: rgb(195, 195, 195);
    text-align: center;
    border-radius: 10px;
    text-align: center;
    image-orientation: flip;
    width: 80%;
    font-size: 2vw;
}

.answerList{
    background-color: rgb(190, 222, 170);
    border-radius: 20px;
    display: block;
    width: 80%;
    text-align: center;
    border: 0px;
    font-size: 2vmax;

}

.answerList:hover, .answerList:focus{
    background-color: #008a00;
    color: white;
}

.status{
    height: 20px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
}

.statusBar{
    height: 100%;
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,00a810+83,027c00+100 */
    background: #b4ddb4; /* Old browsers */
    background: -moz-linear-gradient(left,  #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #00a810 83%, #027c00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#00a810 83%,#027c00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#00a810 83%,#027c00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#027c00',GradientType=1 ); /* IE6-9 */
    ;
    border-radius: 20px;
}